API_CONFIGURATION_FILE = APIConfiguration.staging

// Extention is used to change the bundle identifier to specify the build
// configuration (if needed)
EXTENSION = -Beta

// Set API URL used by API.
// Note: Use the same flags for swift and objective-c.
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) STAGING=1 INFORMATION=1 WARNING=1 ERROR=1
OTHER_SWIFT_FLAGS = -D INFORMATION -D WARNING -D ERROR